<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.3/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/svg" href="/images/spotify-logo.svg">
</head>
<body>
    <div class="musicBox relative overflow-hidden pl-16 w-full h-screen bg-zinc-800">
    <%- include('../partials/sidebar.ejs') %>
    <%- include('./player.ejs') %>   

    <div class="mainContent w-full h-screen ml-2 flex flex-col">
        <div class="topHeader liked bg-zinc-800 h-[180px] flex items-center justify-center w-full pl-10 py-5">
            <div class="likedIconWrapper w-[10%] h-full flex items-center justify-center">
                <div
                    id="fav" class="tab w-[100px] rounded-lg h-[100px] bg-[#15BF50] flex items-center justify-center">
                    <i id="icon" class="ri-play-list-fill text-[#ffffff] text-[48px]"></i>
                </div>
            </div>
            <div class="likedTextWrapper w-[90%] h-full flex items-center justify-center">
                <div class="content w-full h-full flex items-start justify-start flex-col">
                    <h1 class="text-zinc-100 font-bold text-7xl">Playlist</h1>
                    <span class="text-zinc-100 font-normal text-xl"><%= user.Playlist.length < 10 ? '0' + user.Playlist.length : user.Playlist.length %></span>
                </div>
            </div>
        </div>
        <div class="Songs liked bg-zinc-700/40 h-full flex justify-center w-full">
            <div class="SongsBox scrollBox flex py-1 flex-col gap-2 justify-start items-center w-[50%] max-h-full overflow-y-scroll">
                <% user.Playlist.forEach((song)=>{ %>
                    <div id="songBoxContainer" data-song="/uploads/audios/<%= song.songUrl %>" class="group songBox w-full min-h-14 transition-colors hover:bg-zinc-600/40 flex py-2 px-2 items-center justify-start">
                        <div class="playiconWrapper w-[10%] h-full flex items-center justify-center">
                          <i id="songPlayerBtn" class="playIcon group-hover:visible ri-play-circle-fill cursor-pointer invisible hover:scale-[1.099] text-4xl text-[#15BF50]"></i>
                        </div>
                        <div class="songCoverWrapper flex items-center justify-center w-[10%] h-full rounded-xl overflow-hidden">
                          <div class="imageWrapper object-cover w-[50px] h-[50px] rounded-full bg-zinc-500">
                              <img src="/uploads/images/<%= song.songCoverUrl%>" alt="" id="songCoverImage" class="w-full h-full">
                          </div>
                        </div>
                        <div class="songDetailsWrapper w-[90%] h-full px-5 flex flex-col items-start justify-center">
                          <h2 id="songTitle" class="text-zinc-100 font-semibold text-md"><%= song.songTitle%></h2>
                          <p id="songArtist" class="text-zinc-300 text-sm"><%= song.songArtist%></p>
                        </div>

                    </div> 
                  <% }) %>
            </div>
        </div>
    <script src="/javascripts/sidebarTabs.js"></script>
    <script src="/javascripts/songPlayer.js"></script>
    <script src="/javascripts/PlayerBar.js"></script>
</body>
</html>